<!--- Footer -->
<footer class="" >
	<div class="container-fluid">
		<div class="row  text-center padding">
			<div class="col-md-4">
				<h1>TEDX-SMVDU</h1>
				<hr class="light">
				<p>E-mail: <a 		href="mailto:tedx@smvdu.ac.in">tedx@smvdu.ac.in</a></p>
				<p>Shri Mata Vaishno Devi University, Katra, Jammu and Kashmir - 182320</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Our Hours</h5>
				<hr class="light">
				<p>Wednesday:9am:5pm</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Contributors</h5>
				<hr class="light">
				<p>Shubham Upadhyay</p>
				<p>Alok Kumar</p>
			</div>
			<div class="col-12">
				<hr class="light">
				<h5><a href="https://github.com/iFlameing" >&copy;iFlameing.com</a></h5>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
