<!--- Footer -->
<footer class="" >
	<div class="container-fluid">
		<div class="row  text-center padding">
			<div class="col-md-4">
				<h1>TEDX-SMVDU</h1>
				<hr class="light">
				<p>email@email.com</p>
				<p>100 street name</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Our Hours</h5>
				<hr class="light">
				<p>Monday:9am:5pm</p>
				<p>Saturday:4am:10pm</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Our Hours</h5>
				<hr class="light">
				<p>any thing you want to put there is welcome.</p>
			</div>
			<div class="col-12">
				<hr class="light">
				<h5>&copy;iFlameing.com</h5>
			</div>
		</div>
	</div>
</footer>

</body>
</html>