<% include partials/header.ejs %>
<h1 style="margin-top:70px"></h1>
<div class="container-fluid padding">
		<div class="row welcome text-center">
		  <div class="col-12">
		   <h1 class="display-4">What is a <span class="span">Tedx</span> event?</h1>
		  </div>
		  <hr>
		  <div class="col-12">
		   <p class="lead">
				<span class="span">Tedx</span> is a nonprofit devoted to spreading ideas, usually in the form of short, powerful talks (18 minutes or less). TED began in 1984 as a conference where Technology, Entertainment and Design converged, and today covers almost all topics from science to business to global issues in more than 100 languages. Meanwhile, independently run TEDx events help share ideas in communities around the world.
		
				A <span class="span">Tedx</span> event is a local gathering where live TED-like talks and videos previously recorded at TED conferences are shared with the community. TEDx events are fully planned and coordinated independently, on a community-by-community basis. The content and design of each TEDx event is unique and developed independently, but all of them have features in common.
				
				After the licensing process is done the team of active volunteers is required to be formed, who not only work to develop a network but also for the overall management of the event. It ranges from invitations, brandings, promotions, sponsors, finances, videos, photography, content writing, etc.
				The most important of all is to reach best possible speakers for the event. Here the far most preference is given to the people who have done something distinct in their fields, an idea that is entirely different and it’s worth spreading.
		   </p>
		  </div>
	  
		</div>
	  </div>
<!--- Connect -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>Connect</h2>
		</div>
		<div class="col-12 social padding">
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>
