<% include partials/header.ejs%>
<div style="margin-top:70px" class="container-fluid padding">
	<h1>content coming soon</h1>
	<!-- <div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img src="./img/33936987.jpeg" class="card-img-top" />
				<div class="card-body">
					<h4 class="card-title">Alok Kumar</h4>
					<p class="card-text">I am Alok kumar making website for the smvdu university.</p>
					<a href="#" class="btn btn-outline-secondary">see Profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img src="./img/33936987.jpeg" class="card-img-top" />
				<div class="card-body">
					<h4 class="card-title">Alok Kumar</h4>
					<p class="card-text">I am Alok kumar making website for the smvdu university.</p>
					<a href="#" class="btn btn-outline-secondary">see Profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img src="./img/33936987.jpeg" class="card-img-top" />
				<div class="card-body">
					<h4 class="card-title">Alok Kumar</h4>
					<p class="card-text">I am Alok kumar making website for the smvdu university.</p>
					<a href="#" class="btn btn-outline-secondary">see Profile</a>
				</div>
			</div>
			</div>
	</div> -->
</div>

<% include partials/footer.ejs%>

