<% include partials/header.ejs %>
<h1 style="margin-top:130px"></h1>
<div class="container">
    <div class="row padding">
            <div class="col-md-6">
                    <div class="card">
                        <img src="./img/second.png" class="card-img-top" />
                    </div>
                </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="./img/firstspeakers.jpg" class="card-img-top" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="./img/third.jpg" class="card-img-top" />
                </div>
            </div>
        </div>
    </div>

</div>


<% include partials/footer.ejs %>